@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  .mb-1 {
    animation-delay: 2s;
    animation-direction: alternate-reverse;
  }
  .mb-2 {
    animation-duration: 4s;
    animation-direction: alternate-reverse;
  }
  .mb-3 {
    animation-delay: 6s;
    animation-direction: alternate-reverse;
  }
}
